In [7]:
DATA_PATH = '../data/raw/survey_results_public.csv'

In [8]:
import numpy as np
import pandas as pd 
pd.set_option('display.max_rows', 10000)

In [9]:
# read dataset and print shape
data_df = pd.read_csv(DATA_PATH)
data_df.shape

(83439, 48)

In [13]:
#Display random answer
#Observations: Multiple answers need to be splitted 
#Reference to the scheme needed to understand 
data_df.sample(1).iloc[0]

ResponseId                                                                  50448
MainBranch                                         I am a developer by profession
Employment                                                     Employed full-time
Country                                                  United States of America
US_State                                                             Pennsylvania
UK_Country                                                                    NaN
EdLevel                           Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
Age1stCode                                                          11 - 17 years
LearnCode                          Friend or family member;Books / Physical media
YearsCode                                                                      22
YearsCodePro                                                                   12
DevType                                 Developer, full-stack;Engineering manager
OrgSize                                                      100 to 499 employees
Currency                                                USD\tUnited States dollar
CompTotal                                                                135000.0
CompFreq                                                                   Yearly
LanguageHaveWorkedWith                                          Java;Perl;PHP;SQL
LanguageWantToWorkWith                                                        NaN
DatabaseHaveWorkedWith                                     MySQL;PostgreSQL;Redis
DatabaseWantToWorkWith                                           MySQL;PostgreSQL
PlatformHaveWorkedWith                                                        AWS
PlatformWantToWorkWith                                                        NaN
WebframeHaveWorkedWith                                     Angular;jQuery;Laravel
WebframeWantToWorkWith                                                        NaN
MiscTechHaveWorkedWith                                                        NaN
MiscTechWantToWorkWith                                                        NaN
ToolsTechHaveWorkedWith                                                       Git
ToolsTechWantToWorkWith                                                       NaN
NEWCollabToolsHaveWorkedWith                     Android Studio;IntelliJ;PHPStorm
NEWCollabToolsWantToWorkWith                     Android Studio;IntelliJ;PHPStorm
OpSys                                                                 Linux-based
NEWStuck                        Call a coworker or friend;Visit Stack Overflow...
NEWSOSites                                                         Stack Overflow
SOVisitFreq                                       A few times per month or weekly
SOAccount                                                                     Yes
SOPartFreq                                    Less than once per month or monthly
SOComm                                                                    Neutral
NEWOtherComms                                                                 Yes
Age                                                               35-44 years old
Gender                                                                        Man
Trans                                                                          No
Sexuality                                                                Bisexual
Ethnicity                                            White or of European descent
Accessibility                                                   None of the above
MentalHealth                    I have a concentration and/or memory disorder ...
SurveyLength                                                            Too short
SurveyEase                                                                   Easy
ConvertedCompYearly                                                      135000.0
Name: 50447, dtype: object

In [14]:
# print the general information of the data fream
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83439 entries, 0 to 83438
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ResponseId                    83439 non-null  int64
 1   MainBranch                    83439 non-null  object
 2   Employment                    83323 non-null  object
 3   Country                       83439 non-null  object
 4   US_State                      14920 non-null  object
 5   UK_Country                    4418 non-null   object
 6   EdLevel                       83126 non-null  object
 7   Age1stCode                    83243 non-null  object
 8   LearnCode                     82963 non-null  object
 9   YearsCode                     81641 non-null  object
 10  YearsCodePro                  61216 non-null  object
 11  DevType                       66484 non-null  object
 12  OrgSize                       60726 non-null  object
 13  Currency                      61080 non-null  object
 14  CompTotal                     47183 non-null  float64
 15  CompFreq                      52150 non-null  object
 16  LanguageHaveWorkedWith        82357 non-null  object
 17  LanguageWantToWorkWith        76821 non-null  object
 18  DatabaseHaveWorkedWith        69546 non-null  object
 19  DatabaseWantToWorkWith        58299 non-null  object
 20  PlatformHaveWorkedWith        52135 non-null  object
 21  PlatformWantToWorkWith        41619 non-null  object
 22  WebframeHaveWorkedWith        61707 non-null  object
 23  WebframeWantToWorkWith        52095 non-null  object
 24  MiscTechHaveWorkedWith        47055 non-null  object
 25  MiscTechWantToWorkWith        38021 non-null  object
 26  ToolsTechHaveWorkedWith       72537 non-null  object
 27  ToolsTechWantToWorkWith       65480 non-null  object
 28  NEWCollabToolsHaveWorkedWith  81234 non-null  object
 29  NEWCollabToolsWantToWorkWith  73022 non-null  object
 30  OpSys                         83294 non-null  object
 31  NEWStuck                      83052 non-null  object
 32  NEWSOSites                    83171 non-null  object
 33  SOVisitFreq                   82413 non-null  object
 34  SOAccount                     82525 non-null  object
 35  SOPartFreq                    67553 non-null  object
 36  SOComm                        82319 non-null  object
 37  NEWOtherComms                 82828 non-null  object
 38  Age                           82407 non-null  object
 39  Gender                        82286 non-null  object
 40  Trans                         80678 non-null  object
 41  Sexuality                     73366 non-null  object
 42  Ethnicity                     79464 non-null  object
 43  Accessibility                 77603 non-null  object
 44  MentalHealth                  76920 non-null  object
 45  SurveyLength                  81711 non-null  object
 46  SurveyEase                    81948 non-null  object
 47  ConvertedCompYearly           46844 non-null  float64
dtypes: float64(2), int64(1), object(45)
memory usage: 30.6+ MB

In [15]:
# get stata for the numarical columns
data_df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [17]:
# lets summarize Categorical data also
data_df[data_df.columns.difference(["ResponseId", "CompTotal", "ConvertedCompYearly"])].describe(include = 'object')

,Accessibility,Age,Age1stCode,CompFreq,Country,Currency,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DevType,EdLevel,...,SurveyLength,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,Trans,UK_Country,US_State,WebframeHaveWorkedWith,WebframeWantToWorkWith,YearsCode,YearsCodePro
count,77603,82407,83243,52150,83439,61080,69546,58299,66484,83126,...,81711,72537,65480,80678,4418,14920,61707,52095,81641,61216
unique,31,8,9,3,181,146,3072,3137,8626,9,...,3,902,1403,4,4,55,5402,5113,52,52
top,None of the above,25-34 years old,11 - 17 years,Yearly,United States of America,USD\tUnited States dollar,MySQL,PostgreSQL,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",...,Appropriate in length,Git,Git,No,England,California,React.js,React.js,5,3
freq,72725,32568,44170,25767,15288,14363,4777,4200,8601,35357,...,64514,24520,15368,77275,3915,2163,3383,3698,6190,5812

In [27]:
# get summarize Categorical data also
data_df[["LanguageHaveWorkedWith","Currency", "DevType"]].describe(include = 'object')

,LanguageHaveWorkedWith,Currency,DevType
count,82357,61080,66484
unique,28690,146,8626
top,Python,USD\tUnited States dollar,"Developer, full-stack"
freq,1337,14363,8601